<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Index</title>
</head>

<body>
<!-- Page Content -->
<div layout:fragment="content" th:remove="tag">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3">Web UI template application</h1>
                <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
                <p class="col-lg-10 fs-4">Are you signed in? Go to the dashboard:</p>
                <a th:href="@{/dashboard}" class="btn btn-lg btn-success">Dashboard</a>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 border rounded-3 bg-light" role="form" method="POST" th:action="@{/sign-in}" th:object="${request}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="userName" name="userName" th:field="*{userName}" placeholder="John Woo">
                        <p th:each="error: ${#fields.errors('userName')}"
                           th:text="${error}">Validation error
                        </p>
                        <label for="userName">User name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="Password">
                        <p th:each="error: ${#fields.errors('password')}"
                           th:text="${error}">Validation error
                        </p>
                        <label for="password">Password</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                    <hr class="my-4">
                    <a href="#" class="w-100 btn btn-lg btn-outline-success">Sign up</a>
                </form>
                <p class="bg-info text-center text-danger"
                   th:if="${error != null}" th:text="${error}"></p>
                <p class="bg-info text-center text-danger"
                   th:if="${#request.getParameter('error') != null}" th:text="${#request.getParameter('error')}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>